@import 'global';

// normalize && reboot
@import './base/normalize';
@import 'base/reboot';

input,
textarea {
  @include pseudo(read-only) {
    background: none;
  }
  outline: none;
}

textarea {
  resize: none;
}

// components
@import 'component/vant';
@import 'component/page';
@import 'component/steps';

// common
@import 'common/icon';
@import 'common/header';
@import 'common/footer';

.fl {
  float: left;
}

.fr {
  float: right;
}

.no-entry {
  padding: 50px 10px;
  text-align: center;
  font-size: 12px;
  color: $color-96;

  &::before {
    display: block;
    content: '';
    width: 160px;
    height: 160px;
    margin: 0 auto 20px;
    background-size: 100%;
    background-image: url('./assets/images/empty.png');
  }
}
