.login-page {
  background: #fff;
}

.login-logo {
  min-height: 2.08333333rem;
  margin: 1rem auto;
  font-size: 1.94444444rem;
  font-weight: bold;
  text-align: center;
}

.login-form {
  padding: 0 0.55555556rem;
  margin-top: 6rem;
}

.login-form::after {
  content: "";
  display: block;
  clear: both;
}

.reg-form {
  margin-top: 1rem;
}

.login-form-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-height:40px;
  padding: 0.27777778rem;
  margin-bottom: 0.83333333rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
}

.login-form-key {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  min-width:70px;
  min-height: 1.66666667rem;
  white-space: nowrap;
  text-align:right;
}

.login-form-key::before {
  display:inline-block;
  content:'*';
  color:red;
  margin-right:0.2rem;
}

.login-form-val {
  -webkit-box-flex: 5;
  -webkit-flex: 5;
  -moz-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-left:0.5rem;
}

.login-form-input {
  -webkit-box-flex: 3;
  -webkit-flex: 3;
  -moz-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  min-height: 1.66666667rem;
  border: 0;
  min-height:30px;
}

.login-form-input-small {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  max-width: 80px;
  min-height: 1.66666667rem;
  border: 0;
  min-height:30px;
}

.login-form-code {
  -webkit-box-flex: 2;
  -webkit-flex: 2;
  -moz-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  padding-left:0.5rem;
  text-align: right;
  min-height: 1.66666667rem;
}

.login-form-code span {
  white-space:nowrap;
  color:#06c160;
}

.login-form-switch {
  margin-left: 0.55555556rem;
  white-space: nowrap;
  color:#d03629;
  cursor:pointer;
}

.login-form-btn {
  width: 18.61111111rem;
  height: 2.22222222rem;
  margin: 0 auto 1.11111111rem;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  text-align: center;
  line-height: 2.22222222rem;
  color: #fff;
  cursor: pointer;
}

.login-form-go {
  display: block;
  padding: 0.5rem 0;
  margin-top: 3rem;
  text-align: center;
  color: #06c160;
}

.login-form .btn-green {
  background-color: #06c160;
}

.login-form-tips {
  padding: 0 0.5rem 1rem;
  font-size: 12px;
  color: #999;
}

.login-form-agree,
.login-form-agree:focus,
.login-form-agree:hover,
.login-form-agree:active {
  color: #d03629;
}

.u-check-indicator {
  color:#06c160;
  font-size: 14px;
  margin: 0 0.5rem;
}