@import "../../styles/_global.scss";

.modal {
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index:100;
  display: none;
  background-color:rgba(0,0,0,.4);
  

  &-right {
    width:380px;
    height:100%;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    border-left:1px solid $color-border-gray;
    background-color:#fff;
    animation-name: slide-left;

    @keyframes slide-left {
      0% {
        transform: translateX(100%);
      }

      100% {
        transform: translateX(0);
      }
    }
  }

  &-show {
    display: block;
  }

  &-header {
    position:absolute;
    left:0;
    right:0;
    top:0;
    height:60px;
    line-height:60px;
    padding:0 16px;
    font-size:16px;
    color:$color-32;
    border-bottom:1px solid $color-border-gray;
  }

  &-footer {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:flex-end;
    padding:10px 20px;
    border-top:1px solid $color-border-gray;
  }

  &-body {
    @include scrollable();
    position: absolute;
    left: 0;
    right: 0;
    top: 67px;
    bottom: 53px;
    scroll-behavior: smooth;
  }

  &-panel {

    &-item {
      padding:10px 15px 0px;
      border-top:1px solid $color-border-gray;

      &:first-child {
        border-top:0;
      }
    }

    &-hd {
      font-size: 14px;
      color: $color-32;
      margin-bottom:10px;
    }

    &-bd {
      padding:10px 0;

      .el-radio {
        width:50%;
        margin-right:0;
        margin-bottom:12px;
        
       /deep/ &__label {
          font-size:12px;
        }

        &-row {
          width:100%;
          @include flex-row();
          flex-wrap:wrap;
        }

        &-column {
          @include flex-column();
        }
      }

      dl,dt,dd {
        margin-bottom:0;
      }
    }

    &-list {
      padding-top:15px;

      .el-tag {
        margin-right:10px;
      }

      .del {
        color:$color-primary;
        cursor:pointer;
      }

    }

    &-picture {
      display:flex;
      flex-direction:row;
      align-items:center;
      flex-wrap:wrap;
      padding-top:15px;

      li {
        margin-right:18px;
        margin-bottom:20px;
        cursor:pointer;

        &:nth-child(9n){
          margin-right:0;
        }
      }
      
      .icon {
        width:45px;
        height:45px;
        overflow:hidden;
      }
    } 
  }
}