@import "global";

// normalize && reboot
@import "~normalize.css/normalize.css";
@import "base/reboot";

ul,
label {
  margin-bottom: 0;
}

input,
textarea {
  &:read-only {
    background: none;
  }

  outline:none;
}

input,
textarea {
  &[readonly] {
    background: none;
  }
}

button,
a {
  &:active,
  &:hover,
  &:focus {
    outline-width: 0;
  }
}

button {
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4,
h5,
h6,
p {
  font-size: inherit;
}

p {
  line-height: 1.8;
}

sub,
sup {
  font-size: 13px;
}

small {
  font-size: 12px;
}

hr {
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

textarea {
  resize: none;
}