@import "global";
@import "./assets/iconfont/iconfont.css";

ul {
  margin-bottom: 0;
}

.xa-frame {
  min-width: 1200px;
  background: #fff;
}

.el-table__header th {
  background: #f5f7fa;
}

.xa-icon {
  font-size: inherit;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size:24px;
  color:#666;
}

.el-menu .xa-icon {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  color: inherit;
}

.p-uploader-inline {
  display: inline-block;
  text-align: center;

  & + & {
    margin-left: 10px;
  }
}

.p-uploader {
  width: 60px;
  height: 60px;
  color: $color-input-border;
  border: 1px solid;
  text-align: center;
  line-height: 60px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  &:hover {
    color: $color-primary;
  }

  &__img,
  &__icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__icon {
    text-align: center;
    font-size: 28px;
    line-height: 1;
    height: 1em;
  }

  &__img {
  }

  &__remove {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 18px;
    padding: 5px 10px;
  }

  .el-upload {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.p-uploadfile {
  width: 300px;
}

.p-form {
  .el-form-item {
    margin-bottom: 20px;
    position: relative;
  }

  .el-checkbox {
    line-height: 30px;
  }

  .el-form-item--small &__display {
    padding: 6px 0 5px;
  }

  &__display {
    line-height: 1.5;
    padding: 10px 0;
  }

  &__input {
    width: 450px;
  }

  &__rich {
    width: 800px;
    overflow: hidden;
  }

  &__tip {
    font-size: 12px;
    color: #999;
    line-height: 1.5;
    padding: 5px 0;

    &--big {
      line-height: 40px;
      padding: 0;
    }
  }

  .el-form-item__label {
    padding-right: 20px;
    color: $color-silver;
  }

  .el-upload__tip {
    line-height: 1.5;
    color: #999;
  }

  &__s-head {
    padding: 10px 0;

    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      background: $color-blue-light;
      height: 1.15em;
      vertical-align: -.25em;
      margin-right: 8px;
    }
  }

  .el-form-item__content .xa-block {
    margin-bottom: 10px;
  }

  &--condensed .el-form-item {
    margin-bottom: 0;
  }

  &__pic {
    display: inline-block;
    padding: 15px;
    vertical-align: top;

    &-wrap {
      margin-bottom: 30px;
    }
  }

  &__avatar {
    display: flex;
    border: 1px solid #eee;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
  }

  &__img {
    max-height: 100%;
    height: fill-available;
    height: -webkit-fill-available;
  }

  &__details {
    padding: 10px;
    background: #f6f6f6;
    border-radius: 10px;

    .el-form-item {
      margin-bottom: 0;
    }

    .el-form-item__content,
    .el-form-item__label {
      font-size: 12px;
      padding-right: 0;
    }
  }
}

.p-box {
  &__head {
    padding: 10px 0;
    margin-bottom: 20px;

    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      background: $color-blue-light;
      height: 1.15em;
      vertical-align: -.25em;
      margin-right: 8px;
    }
  }
}

.p-input-count {
  padding: 0 10px;
  font-size: 12px;
}

.p-table {
  // min-width: 100%;
  &--auto {
    display: inline-block;
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }

  td,
  th {
    padding-top: 5px;
    padding-bottom: 5px;

    > .cell {
      padding: 5px 10px;
    }
  }

  &.el-table--mini {
    td,
    th {
      padding-top: 2px;
      padding-bottom: 2px;

      > .cell {
        padding: 2px 5px;
      }
    }
  }

  .el-select {
    background: #fff;
  }

  &--no-hover {
    .el-table__body tr:hover>td {
      background: none;
    }
  }
}

.p-filter {
  display: table;

  &__input,
  &__action {
    display: table-cell;
  }

  &__action {
    white-space: nowrap;
  }
}

.p-filter-inline {
  padding-right: 20px;
  overflow: hidden;
}

.p-avatar {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-gray-lighter;
  background: #fff;

  &__img {
    max-height: 100%;
    display: block;
  }
}

.p-info-block {
  display: table;
  line-height: 1.5;

  > * {
    display: table-cell;
    vertical-align: top;
  }

  > * + * {
    padding-left: 5px;
  }
}

.p-table-btns {
  white-space: nowrap;

  &__btn {
    font-size: 18px;
    padding: 0 3px;

    &:not(&--active) {
      color: #999;
    }
  }
}

.p-table-actions {
  white-space: nowrap;

  &__btn {
    color: #409EFF;
    padding: 2px 5px;

    & + & {
      margin-left: 0;
    }
  }
}

.p-thead {
  &__icon {
    margin-left: 4px;
  }

  &__tooltip {
    max-width: 200px;
  }
}

.p-edit {
  padding: 5px 0;
  height: 42px;

  &__tag,
  &__input {
    display: block;
  }

  &__tag {
    position: relative;
    color: rgb(94, 109, 130);
    border-color: #dcdfe6;

    & .el-icon-close {
      position: absolute;
      right: 5px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__input {
    line-height: 30px;
    border: 0;
    outline: none;
  }

  &__val {
    width: 98px;
    @include ellipsis();
  }
}

.p-checkbox-list {
  @include clearfix();

  &__item {
    padding: 0 8px;
    float: left;
    min-width: 100px;
  }
}

.p-product-info {
  &__num {
    min-width: 6em;
    padding-left: 10px;
    display: inline-block;
    font-size: 16px;
  }
}

.order-info {
  .el-form-item {
    margin-bottom: 0;
  }
}


.p-img-preview {
  display: block;
  margin: auto;
  max-height: 500px;
}

.p-message-list {
  border: 0;
  .el-collapse-item__header {
    height: auto;
    color: inherit;
  }

  .el-collapse-item__content {
    padding-bottom: 0;
  }

  &__item {
    &--read:not(.is-active) {
      color: #ccc;
    }
  }

  &__header {
    @include clearfix()
  }

  &__title {
    float: left;
    padding-left: 20px;
    width: 750px;
    @include ellipsis();

    .el-badge__content.is-fixed.is-dot {
      left: -15px;
      right: auto;
      bottom: 0;
      top: 0;
      margin: auto;
      transform: none;
    }
  }

  &__time {
    float: right;
  }

  &__body {
    padding: 10px 20px;
    background: $color-gray-lighter;

    a {
      color: $color-primary;
    }

  }
}


.p-tree {
  .el-tree-node__content {
    height: auto;
  }

  &__content {
    @include clearfix();
    flex: 1;
  }

  &__data {
  }

  &__left {
    display: block;
    overflow: hidden;
    line-height: 40px;
  }

  &__main {
    float: right;
    margin-left: 20px;
  }

  &__name {
    @include ellipsis();
    display: block;
  }

  &__actions {
    padding: 0 10px;
  }
}

.p-table-configure {
  position: relative;

  &__trigger {
    padding: 10px;
    margin: -10px;
    font-size: 18px;
  }

  &__main {
    position: absolute;
    top: 0;
    z-index: 1;
    right: 20px;
    background: #fff;
    left: auto;
    min-width: 220px;
  }

  &__head {
    border-bottom: 1px solid #ddd;
    padding: 0 10px 10px;
    position: relative;
  }

  &__close {
    position: absolute;
    right: 10px;
    top: -10px;
    bottom: 0;
    padding: 0 10px;
  }

  &__list {
    padding: 10px;
  }

  &__item {
    @include clearfix();
    position: relative;
    padding-right: 50px;
    white-space: nowrap;

    &:hover,
    &:not(.is-disabled):hover {
      background: none;
    }
  }

  &__checkbox {
    padding: 4px 0;
  }

  &__actions {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
  }

  &__item:hover &__actions {
    display: block;
  }

  &__action {
    height: 100%;
    width: 22px;
  }
}


.p-promotion-block {
  background: $color-gray-lighter;
  padding: 10px;
}

.p-multiple-input {
  display: inline-block;
  line-height: 1.5;
  white-space: nowrap;

  &__text {
    padding: 0 5px;
    display: inline-block;
  }

  &__input {
    width: 0;
    min-width: 5em;
    background: #fff;
  }

  .el-input__inner {
    border-radius: 0;
    display: block;
  }
}