@import "global";
@import "./assets/fonts/iconfont.css";

.xa-icon {
  font-size: inherit;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  font-size:24px;
  color:#666;
}

.el-menu .xa-icon {
  vertical-align: middle;
  margin-right: 5px;
  width: 24px;
  text-align: center;
  font-size: 18px;
  color: inherit;
}

.p-uploader-inline {
  display: inline-block;
  text-align: center;

  & + & {
    margin-left: 10px;
  }
}

.p-uploader {
  width: 60px;
  height: 60px;
  color: $color-input-border;
  border: 1px solid;
  text-align: center;
  line-height: 60px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;

  &:hover {
    color: $color-primary;
  }

  &__img,
  &__icon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__icon {
    text-align: center;
    font-size: 28px;
    line-height: 1;
    height: 1em;
  }

  &__img {
  }

  &__remove {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 18px;
    padding: 5px 10px;
  }

  .el-upload {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.p-form {
  .el-form-item {
    margin-bottom: 20px;
    position: relative;
  }

  .el-checkbox {
    line-height: 30px;
  }

  .el-form-item--small &__display {
    padding: 6px 0 5px;
  }

  &__display {
    line-height: 1.5;
    padding: 10px 0;
  }

  &__input {
    width: 450px;

    &-small {
      width: 200px;
    }
  }

  &__select-small {
    width: 120px;
  }

  &__checkbox {
    width: 450px;
    padding: 15px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }

  &__rich {
    width: 800px;
    overflow: hidden;
  }

  &__tip {
    font-size: 12px;
    color: #999;
    line-height: 1.5;
    padding: 5px 0;

    &--big {
      line-height: 40px;
      padding: 0;
    }
  }

  .el-form-item__label {
    padding-right: 20px;
    color: $color-silver;
  }

  .el-upload__tip {
    line-height: 1.5;
    color: #999;
  }

  &__s-head {
    padding: 10px 0 15px;
    @include flex-row();
    align-items:center;
    font-size:16px;

    &::before {
      content: "";
      display: inline-block;
      width: 4px;
      background: $color-primary;
      height: 1.15em;
      vertical-align: -.25em;
      margin-right: 8px;
    }
  }

  &__s-icon {
    width:20px;
    height:20px;
    margin-left:20px;
    line-height:18px;
    text-align: center;
    border-radius: 999px;
    border:1px solid $color-primary;
    cursor:pointer;

    i {
      font-size:14px;
      color:$color-primary;
    }
  }

  &__s-body {

  }

  .el-form-item__content .xa-block {
    margin-bottom: 10px;
  }

  &--condensed .el-form-item {
    margin-bottom: 0;
  }

  &__pic {
    @include flex-row();
    align-items: center;
    flex-wrap: wrap;

    &-wrap {
      max-width: 25%;
      margin:0 20px 20px 0;
    }
  }

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    //border: 1px solid $color-gray-lighter;
    background: #fff;
    width: 100px;
    height: 100px;

    img {
      max-height: 100%;
      height: fill-available;
      height: -webkit-fill-available;
    }
  }

  &__link,
  &__link:hover {
    color:$color-primary;
  }
  
}

.p-table {

  &--auto {
    display: inline-block;
    width: auto;
    max-width: 100%;
    vertical-align: top;
  }

  td,
  th {
    padding-top: 5px;
    padding-bottom: 5px;

    > .cell {
      padding: 5px 10px;
    }
  }

  &.el-table--mini {
    td,
    th {
      padding-top: 2px;
      padding-bottom: 2px;

      > .cell {
        padding: 2px 5px;
      }
    }
  }

  .el-select {
    background: #fff;
  }

  &--no-hover {
    .el-table__body tr:hover>td {
      background: none;
    }
  }
}

.p-filter {
  display: table;

  &__input,
  &__action {
    display: table-cell;
  }

  &__action {
    white-space: nowrap;
  }
}

.p-avatar {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-gray-lighter;
  background: #fff;

  &__img {
    max-height: 100%;
    display: block;
  }
}

.p-info-block {
  display: table;
  line-height: 1.5;

  > * {
    display: table-cell;
    vertical-align: top;
  }

  > * + * {
    padding-left: 5px;
  }
}

.p-product-info {
  &__num {
    min-width: 6em;
    padding-left: 10px;
    display: inline-block;
    font-size: 16px;
  }
}

.p-tree {
  .el-tree-node__content {
    height: auto;
  }

  &__content {
    @include clearfix();
    flex: 1;
  }

  &__data {
  }

  &__left {
    display: block;
    overflow: hidden;
    line-height: 40px;
  }

  &__main {
    float: right;
    margin-left: 20px;
  }

  &__name {
    @include ellipsis();
    display: block;
  }

  &__actions {
    padding: 0 10px;
  }
}
