// d3-tip
.d3-tip {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background-color: $color-white;
  color: $color-999;
  border-radius: 4px;
  line-height: 1.5;
  box-shadow:0px 3px 5px rgba(0,0,0,.3);

  &::after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: $color-white;
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  &.n::after {
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
  }

  &.chord-tip:after {
    display: none;
  }
}

.chart {

  &-title {

  }
  
  // bar 
  &-bar {

    .bar:hover {
      fill: purple;
      cursor: pointer;
    }
  }

  // chord
  &-chord {

    .group-tick {
      
      line {
        stroke: #000;
      }
    }

    .ribbons {
      fill-opacity: 0.67;
    }
  }

  // pack
  &-pack {
    
    .node--hover {
      circle {
        stroke: #000;
        stroke-width: 1.2px;
      }
    }

    text {
      font: 10px sans-serif;
      text-anchor: middle;
      fill: #333;
    }
  }

  // radar
  &-radar {

    .radar-line:hover {
      fill-opacity: 0.5;
      stroke-width: 3px;
    }
  }

  // force
  &-force {

    .force-links {

      line {
        stroke: #ddd;
      }
    }

    .force-links-text {

      text {
        font-size: 14px;
        fill: #000;
        fill-opacity: 0;
      }
    }

    .force-nodes {

      text {
        font-size: 16px;
        font-weight: 700;
      }

      g {
        cursor: move;
      }
    }
  }

  // cloud
  &-cloud {

    .nodes  {

      text {
        font-weight: 700;
      }
    }
  }

  // voronoi
  &-voronoi {

    .links {
      stroke: #fff;
    }

    .polygons {
      stroke: none;
    }

    .polygons :first-child {
      fill: #ccc;
    }

    .sites {
      fill: #fff;
      stroke: #fff;

      &:first-child {
        fill: #fff;
      }
    }
  }
}






