.el-card,
.el-table,
.el-dialog__body {
  color: inherit;
}

.el-textarea__inner {
  resize: none;
}

.el-textarea__inner:not([rows]) {
  height: 96px;
}

.el-table__header th {
  background: #f5f7fa;
}

.el-table__empty-block {
  min-height: 200px;
}

.el-pagination {
  font-weight: normal;
}

.el-breadcrumb__inner {

  .el-breadcrumb__item:last-child & {
    color: #8492a6;
  }

  a {
    font-weight: normal;
  }
}

.el-input {
  &__prefix,
  &__suffix {
    pointer-events: none;
  }
}

.el-dialog {
  &__header {
    border-bottom: 1px solid $color-border-gray;
  }

  &__headerbtn {
    min-width: 24px;
  }
}
